#main-content {
	padding: 0 0 50px 0;
}

.owl-carousel {
	.owl-nav {
		position: absolute;
		top: 0;
		left: -30px; 
		right: -30px;
		bottom: 0;
		margin: auto 0;
		height: .1px;

		@media screen {
			@media (max-width: 767px) {
				position: static;
				display: block;
				height: auto;
				margin: 20px 0;
				text-align: center;
			}
		}

		.owl-prev,
		.owl-next {
			position: absolute;
			top: -9.5px;
			width: 20px;
			text-indent: -9999px;

			@media screen {
				@media (max-width: 767px) {
					display: inline-block;
					position: static;
					margin: 0 5px;
				}
			}
		}

		.owl-prev {
			left: 0;
			background: url('../img/arrow-left.svg') 0 0 no-repeat;
		}

		.owl-next {
			right: 0;
			background: url('../img/arrow-right.svg') 0 0 no-repeat;
		}
	}	
}

.hero-video {
    width: 100%;
    height: 80vh;
    background-size: cover;
    backface-visibility: hidden;
    z-index: 1;
   
   	figure {
   		margin: 0;
   	}

    video {
	    position: fixed;
    	right: 0;
    	bottom: 0;
    	width: auto;
    	height: auto;
    	min-width: 100%;
   	 	min-height: 100%;
    	margin: 0;
    	transform-style: preserve-3d;
    	transform: translate3d(0,0,0);
	    -webkit-transform: translate3d(0,0,0);
	    -webkit-backface-visibility: hidden;
	 	z-index: -1;
	}

	.text {
		width: 100%;
		text-align: center;

		@media screen {
			@media (max-width: 767px) {
				padding: 0 20px;
			}
		}

		img {
			max-width: 55%;

			@media screen {
				@media (max-width: 991px) {
					max-width: 75%;
				}

				@media (max-width: 767px) {
					max-width: 100%;
				}
			}
		}
	}

	.play-sound {
		display: inline-block;
		position: absolute;
		top: 70vh;
		left: 0;
		right: 0;
		width: 53px;
		height: 53px;
		margin: 0 auto;
		background: url('../img/sound-icon.svg') 0 0 no-repeat;
		cursor: pointer;

		@media screen {
			@media (max-width: 767px) {
				display: none;
			}
		}
	}
}

.events-categories-links {
	margin: 0 0 15px 0;

	li {
		@media screen {
			@media (min-width: 576px) {
				margin: 0 15px 0 0;
			}
		}

		a {
			display: block;
			padding: 1px 4px;
			color: #D96629;
			font-weight: 400;	
			text-decoration: none;
			text-transform: uppercase;

			@media screen {
				@media (min-width: 768px) {
					&:hover {
						background-color: #645f5e;
					}	
				}

				@media (max-width: 575px) {
					padding: 3px 4px;
					font-size: 14px;
				}
			}
		}

		&.active {
			a {
				background-color: #645f5e;
				font-weight: 500;
				pointer-events: none;
				
			}			
		}
	}
}

.info-box {
	position: relative;

	.details, .hover-details {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 10px;
		background-color: rgba(72, 67, 66, .6);

		.name {
			line-height: normal;
			font-size: 16px;
			font-weight: 400;

			a {
				color: #fff;
				text-transform: uppercase;
			}
		}

		> span {
			display: block;
			font-weight: 300;
			font-size: 15px;
			color: #ddd;
			text-transform: uppercase;

			@media screen {
				@media (max-width: 440px) {
					font-size: 12px;
				}
			}
		}

		.btn.no-bg {
			padding: 0;
			margin: 0;
			line-height: normal;
			font-size: 13px;
			background: none;
			color: #d96629;
		}
	}

	.event-date {
		position: absolute;
		top: 0;
		right: 0;
		width: 85px;
    	padding: 0 0 5px 0;
		background-color: #d96629;
		color: #fff;
		text-align: center;
		z-index: 1;

		span {
			display: block;
			line-height: normal;
			font-weight: 300;
		}

		.day {
			font-size: 40px;

			@media screen {
				@media (max-width: 991px) {
					font-size: 30px;
				}
			}
		}

		.month {
			font-size: 16px;
		}

		.week-day {
			font-size: 12px;
		}
	}

	blockquote {
		margin: 0;
		color: #fff;

		@media screen {
			@media (max-width: 350px) {
				display: block;
			    white-space: nowrap;
			    overflow: hidden;
			    max-width: 95%;
			    text-overflow: ellipsis;
			}
		}

		cite {
			line-height: 1.4;
			font-style: normal;
		    font-weight: 300;
		    font-size: 16px;

		    @media screen {
		    	@media (max-width: 1759px) {
		    		font-size: 15px;
		    	}

		    	@media (max-width: 991px) {
		    		font-size: 14px;
		    	}
		    }
		    
			&::before {
				content: '“';
			}

			&::after {
				content: '”';
			}
		}

		footer {
			.name {
				display: block;
				font-size: 15px;

				@media screen {
		    		@media (max-width: 991px) {
		    			margin: 10px 0 0 0;
		    			font-size: 12px !important;
		    		}
		    	}
			}
		}
	}

	&.download-pdf-banner {
		position: relative;

		.holder {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			.pdf {
				height: 73.4756%;
				padding: 17px 0;
				background-color: rgba(217, 102, 41, .6);
				color: #fff;

				&::before {
					content: '';
					display: block;
					height: 80px;
					width: 100%;
					margin: 0 0 20px 0;
					background: url('../img/brivas-telpas.svg') center top no-repeat;
				
					@media screen {
						@media (max-width: 1759px) AND (min-width: 1200px) {
							height: 55px;
							margin: 0 0 10px 0;
						}

						@media (max-width: 1199px) AND (min-width: 768px) {
							height: 40px;
							margin: 0;
						}

						@media (max-width: 575px) {
							height: 60px;
							margin: 0;
						}

						@media (max-width: 420px) {
							content: normal;
						}
					}
				}

				.info {
					font-size: 14px;
					
					span {
						display: block;
						margin: 0 0 5px 0;
						font-size: 11px;
						text-align: center;
						opacity: .8;
					}

					&::after {
						content: '';
						display: block;
						height: 65px;
						width: 100%;
						background: url('../img/pdf-icon-white.svg') center no-repeat;
						
						@media screen {
							@media (max-width: 991px) AND (min-width: 768px) {
								height: 30px;
							}

							@media (max-width: 575px) {
								height: 40px;
							}
						}
					}
				}
			}

			.btn-holder {
				height: 26.5244%;
				padding: 10px;
    			background-color: rgba(72, 67, 66, 0.6);

    			.btn {
    				white-space: normal;
    			}


    			@media screen {
					@media (max-width: 991px) AND (min-width: 768px) {
						padding: 0;
					}

					@media (max-width: 575px) {
						padding: 5px;
					}
				}
			}
		}
	}
}

.info-boxes-list {
	margin: 30px 0 0 0;

	.row {
		margin: 0 -10px;

		[class*="col-"] {
			padding: 0 10px;
		}
	}

	@media screen {
		@media (max-width: 767px) {
			.row {
				[class*="col-"] {
					margin: 0 0 20px 0;
				}
			}
		}

		@media (max-width: 575px) {
			.row {
				[class*="col-"] {
					-ms-flex: 0 0 50%;
				    flex: 0 0 50%;
				    max-width: 50%;
				}
			}
		}
	}


	&.people-capacity {
		.info-box {
			.hover-details, .details {
				top: 0;
				padding: 0 35px;
				@include transition();

				@media screen {
					@media (max-width: 575px) {
						padding: 0 15px;
					}
				}

				.name {
					width: 100%;
					margin: 0 0 15px 0;
					padding: 0 10px 5px 10px;
					border-bottom: 1px solid #D96629;
					line-height: normal;
				    font-size: 24px;
				    font-weight: 400;
				    color: #D96629;
					text-align: center;

					@media screen {
						@media (max-width: 1199px) {
							font-size: 20px;
						}

						@media (max-width: 575px) {
							padding: 0 0 5px 0;
							font-size: 16px;
						}
					}

					span {
						display: block;
						line-height: normal;
						font-weight: 300;
						font-size: 18px;

						@media screen {
							@media (max-width: 1199px) {
								font-size: 16px;
							}
						}
					}
				}

				.amount {
					width: 100%;
					text-align: center;

					span {
						display: block;
						border-top: 1px solid #fff;
						font-size: 35px;
				    	font-weight: 500;
				    	color: #fff;

				    	@media screen {
				    		@media (max-width: 1199px) {
				    			font-size: 21px;
				    		}

				    		@media (max-width: 991px) {
				    		    font-size: 16px;
				    		}

				    		@media (max-width: 340px) {
				    			border: 0;
				    		}
				    	}
					}

					&::before {
						content: '';
						display: block;
						height: 85px;
						margin: 10px 0 15px 0;
						background: url('../img/people-icon.svg') center no-repeat;

						@media screen {
							@media (max-width: 991px) {
								height: 30px;
							}

							@media (max-width: 340px) {
								content: normal
							}
						}
					}
				}
			}

			.hover-details {
				opacity: 0;

				.holder {
					.name {
						border-bottom: 1px solid #D96629;
						font-size: 24px;
					    font-weight: 400;
					    color: #D96629;

					    span {
					    	display: block;
						    line-height: normal;
						    font-weight: 300;
						    font-size: 14px;
						    color: #D96629;
					    }
					}
				}
			}

			.btn {
				position: absolute;
				left: 7px;
				bottom: 7px;
			}

			&.has-text {
				.details {
					padding: 0 15px;
				}    

				.name {
					border-color: #fff;
					color: #fff;
					text-transform: uppercase;

					@media screen {
						@media (max-width: 991px) {
							font-size: 18px;
						}

						@media (max-width: 350px) {
							font-size: 13px;
						}
					}


					span {
						font-size: 24px;
						color: #ddd;

						@media screen {
							@media (max-width: 991px) {
								font-size: 16px;
							}
						}
					}
				}

				.message {
					padding: 0 20px;
					text-align: center;

					@media screen {
						@media (max-width: 991px) {
							padding: 0 10px;
						}
					}

					p {
						margin: 0;
						line-height: normal;
						color: #D96629;
						font-size: 17px;
						font-weight: 300;

						@media screen {
							@media (max-width: 991px) {
								font-size: 14px;
							}

							@media (max-width: 350px) {
								font-size: 12px;
							}
						}
					}
				}
			}

			&:hover {
				.details {
					opacity: 0;
				}

				.hover-details {
					opacity: 1;
				}
			}
		}
	}

	&.home-page {
		padding: 25px 0;
		border-top: 3px solid #d96629;
		background-color: rgba(72, 67, 66, 0.8);

		@media screen {
			@media (min-width: 1200px) {
				.container {
					position: relative;

					&::before {
						content: '';
					    display: inline-block;
					    position: absolute;
					    top: -80px;
					    right: -40px;
					    width: 48px;
					    height: 117px;
					    background: url(../img/sticky-block-line.svg) 0 0 no-repeat;
					}
				}
			}
		}
		
		.btn.btn-primary {
			background-color: #d7a229;

			&:hover {
				background-color: darken(#d7a229, 7%);
			}
		}

		.fb-link {
			display: inline-block;
			position: absolute;
			right: 20px;
			bottom: 0;
			height: 24px;
			padding: 0 0 0 30px;
			background: url('../img/fb-icon.svg') right 0 no-repeat;

			@media screen {
				@media (min-width: 441px) {
					&::before {
						content: '';
					    display: block;
					    position: absolute;
					    left: 0;
					    bottom: -9px;
					    margin: auto 0;
					    width: 13px;
					    height: 33px;
					    background: url(../img/yellow-line.svg) 0 0 no-repeat;
					}
				}

				@media (max-width: 360px) {
					right: 5px;
					bottom: 5px;
					height: 17px;
   				 	width: 17px;
   				 	padding: 0;
				}
			}
		}
	}
}

.location-map {
	margin: 30px 0 0 0;

	.cls-28 {
		@include transition();

		&::before {
			content: 'test';
		}

		&:hover, &.active {
			fill: #d96629;
			opacity: 1;
			cursor: pointer;
		}
	}
}

.place-preview {
	margin: 40px 0 0 0;

	.gallery {
		position: relative;
		margin: 0 0 20px 0;

		.gallery-details {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 3px 15px;
			background-color: rgba(72, 67, 66, 0.6);
			font-weight: 300;
			font-size: 13px;
    		color: #ddd;
    		z-index: 1;

    		@media screen {
    			@media (max-width: 767px) {
    				bottom: 39px;
    			}
    		}

    		.title {
    			max-width: 80%;
    			margin: 0;
    			font-size: 13px;
    			font-weight: 300;
    			text-transform: uppercase;
    			overflow: hidden;
    			white-space: nowrap;
    			text-overflow: ellipsis;
    		}

    		.total-holder {
    			i {
    				font-style: normal;
    				color: #D96629;

    				&.total {
    					&::before {
    						content: '\\';
    						padding: 0 5px 0 0;
    					}
    				}
    			}
    		}
		}
	}

	.summary {
		@media screen {
			@media (max-width: 991px) {
				margin-top: 50px;
			}
		}

		.name {
			display: block;
			margin: 0 0 15px 0;
			font-size: 22px;
			font-weight: 400;
			text-transform: uppercase;
			color: #fff;

			@media screen {
				@media (max-width: 575px) {
					margin: 0 0 25px 0;
					font-size: 19px;
					text-align: center;
				}
			}

			strong {
				font-weight: 600;
			}
		}

		.details {
			.table {
				margin: 0;
				border: 0;

				tbody { 
					tr {
						td {
							padding: 0;
							border: 0;

							&.title {
								width: 16%;
								padding-right: 5px;
								line-height: normal;
								border-right: 2px solid #D96629;
								color: #D96629;
								font-weight: 400;
								text-transform: uppercase;

								@media screen {
									@media (max-width: 575px) {
										width: 20%;
										padding-right: 5px;
									}
								}
							}

							&:nth-child(2) {
								padding: 0 0 0 15px;
							}

							.contact-list {
								margin: 0 0 20px 0;
								font-weight: 300;
								color: #fff;

								ul {
									li {
										margin: 0 0 3px 0;
										font-size: 13.5px;

										&.contact-name {
											font-size: 16px;
											text-transform: uppercase;
										}
									}
								}
							}

							.download-pdf {
								display: inline-block;
								width: 58px;
   								height: 75px;
								background: url('../img/pdf-icon.svg') 0 0 no-repeat;
							}
						}
					}
				}
			}
		}

		.building-capacity {
			margin: 0 0 30px 0;
		}
	}

	.text {
		font-size: 17px;
		font-weight: 300;

		strong {
			font-weight: 500;
		}

		p {
			line-height: 1.5;

			&:last-child {
				margin: 0;
			}
		}
	}
}

.sticky-block {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 315px;
	padding: 134px 0 40px 0;
	background-color: #322d2c;
	@include transition();
	z-index: 100;	

	@media screen {
		@media (max-width: 1520px) {
			width: 270px;
		}

		@media (max-width: 1399px) {
			width: 250px;
		}
	}
	
	.content {
		.c-name {
			position: relative;
			margin: 0 0 10px 0;
			border-top: 3px solid #d96629;
			color: #fff;
			text-transform: uppercase;

			&::before {
				content: '';
			    display: inline-block;
			    position: absolute;
			    top: -50px;
			    left: -55px;
			    bottom: 0;
			    width: 45px;
			    height: 117px;
			    background: url(../img/sticky-block-line.svg) 0 0 no-repeat;
			}

			span {
				position: relative;
			    top: -4px;
			    left: -21px;
			    display: inline-block;
			    line-height: 40px;
			    padding: 0 15px 0 10px;
			    background-color: #d96629;
			    font-size: 16px;
			    font-weight: 400;
			    letter-spacing: .5px;

			    @media screen {
			    	@media (max-width: 1199px) {
			    		left: 0;
			    	}
			    }

			   	&::before {
				    content: '';
				    position: absolute;
				    display: block;
				    width: 100%;
				    height: 100%;
				    top: 0;
				    left: 0;
				    z-index: -1;
				   	background: #d96629;
				    transform-origin: bottom left;
				    -ms-transform: skew(20deg, 0deg);
				    -webkit-transform: skew(20deg, 0deg);
				    transform: skew(20deg, 0deg);
				}
			}
		}
	}

	.events-list {
		padding: 0 30px 0 0;

		.event {
			margin: 0 0 5px 0;

			&:last-child {
				margin: 0;
			}

			.event-date {
				min-width: 65px;
		    	padding: 5px;
				background-color: #413c3b;
				color: #fff;
				text-align: center;
				z-index: 1;

				span {
					display: block;
					line-height: normal;
					font-weight: 300;
				}

				.day {
					font-size: 30px;
					color: #d96629;
				}

				.month {
					font-size: 13px;
				}

				.week-day {
					font-size: 11px;
					color: #d96629;
				}
			}

			.details {
				padding: 5px 0 0 8px;

				.name {
					margin: 0 0 3px 0;
					font-size: 14px;
					font-weight: 400;

					@media screen {
						@media (max-width: 1399px) {
							font-size: 14px;
						}
					}

					a {
						color: #fff;
						text-transform: uppercase;
					}
				}

				> span {
					display: block;
					font-weight: 300;
					font-size: 12px;
					color: #ddd;
					text-transform: uppercase;

					@media screen {
						@media (max-width: 1399px) {
							font-size: 12px;
						}
					}
				}
			}

			.btn, .read-more {
				display: inline-block;
				margin: 6px 0 0 0;
				padding: 0;
				background: none;
				color: #d96629;
				font-size: 11px;
				font-weight: 400;
				text-decoration: none;

				&:hover {
					color: #fff;
				}
			}
		}
	}

	.accordion {
		max-width: 67.15%;

		@media (max-width: 1199px) {
			max-width: 100%;
		}

		.card {
			padding: 0;
			margin: 0 0 5px 0;
			border: 0;
			background: none;
			@include rounded(0);

			.card-header {
				padding: 0;
				border: 0;
				background: none;

				h1, h2, h3, h4, h5 {
					margin: 0;
				}

				a {
					position: relative;
					display: block;
					padding: 3px 15px;
					line-height: normal;
					background-color: #433e3d;
					font-size: 17px;
					font-weight: 300;
					color: #b6b3b2;
					text-transform: uppercase;
					text-decoration: none;

					span {
						display: block;
						max-width: 90%;
						overflow: hidden;
		    			white-space: nowrap;
		    			text-overflow: ellipsis;
					}

					&:hover {
						background-color: darken(#433e3d, 3%);
					}


					&::after {
						content: '+';
						position: absolute;
						top: 0;
						right: 10px;
						bottom: 0;
						margin: auto 0;
						color: #d96629;
						font-weight: 500;
   						font-size: 20px;
					}

					&[aria-expanded="true"] {
						&::after {
							content: '';
							width: 10px;
							height: 15px;
							background: url('../img/arrow-down.svg') 0 0 no-repeat;
						}
					}
				}
			}

			.card-body {
				padding: 7px 15px;

				.list {
					li {
						margin: 0 0 5px 0;

						&:last-child {
							margin: 0;
						}

						a {
							display: block;
							line-height: normal;
							font-size: 15px;
							font-weight: 300;
							color: #b6b3b2;
							text-decoration: none;

							&:hover {
								font-weight: 400;
								color: #d96629;
							}
						}

						&.active {
							a {
								font-weight: 400;
								color: #d96629;
							}
						}
					}
				}
			}
		}
	}

	@media screen {
		@media (max-width: 1199px) {
			display: none;
		}
	}
	
	/*
	@media screen {
		@media (max-width: 1200px) AND (min-width: 992px) {
			top: auto;
			left: 0;
			width: 100%;
			padding: 15px 10px;

			&.has-events {
				height: 95px;
			}

			&.has-addresses {
				padding: 15px 10px 10px 10px;

				.accordion {
					display: -ms-flexbox;
    				display: flex;
    				-ms-flex-pack: justify;
    				justify-content: space-between;
    				-ms-flex-wrap: wrap;
    				flex-wrap: wrap;
					max-width: 100%;

					.card { 
						width: 49%;
					}
				}
			}

			.content {
				.c-name { 
					position: absolute !important;
				    top: -40px;
				    left: 0;
				    margin: 0 0 0 15px !important;
				    border: 0;

				    span {
				    	position: static;

				    	&::before {
				    		content: normal;
				    	}
				    }

				    &::before {
				    	content: normal !important;
				    }
				}				
			}

			.events-list {
				ul {
					width: 100%;
					display: -ms-flexbox;
    				display: flex;

    				li {
    					width: 25%;
    				}
				}

				.ps-wrapper {
					max-height: 150px;
					padding: 0;
				}
			}
		}

		@media (max-width: 1199px) {
        	display: none;
    	}
	}
	*/
	
}

.contact-persons {
	margin: 40px 0 50px 0;

	@media screen {
		@media (max-width: 991px) {
			.row {
				[class*="col-"] {
					margin-bottom: 40px;
				}
			}
		}
	}

	.name {
		margin: 0 0 5px 0;
		font-size: 16px;
		font-weight: 500;
		color: #fff;
		letter-spacing: .5px;
		text-transform: uppercase;
	}

	ul {
		li {
			margin: 0 0 2px 0;
			font-weight: 300;
			font-size: 15px;

			&:last-child {
				margin: 0;
			}

			&.email {
				a {
					color: #d96629;
				}
			}
		}
	}

}