#nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 2;

    @media screen {
        @media (min-width: 1200px) {
            display: none;
        }
    }

    &.active {
    	display: block;
    }
}