#main-header {
	padding: 40px 0;

	@media screen {
		@media (max-width: 1750px) AND (min-width: 1200px) {
			.navbar,
			.container,
			.row,
			[class*="col-"] {
				position: static;
			}

		}

		@media (max-width: 1199px) {
			padding: 25px 0;
		}
	}

	.navbar {
		padding: 0;

		.container {
			display: block;
		}			

		.navbar-brand {
			padding: 0;
			margin: 0 12px 0 0;
			font-size: 0;

			img {
				width: 180px;
			}
		}

		.navbar-nav {
			margin-left: 5px;

			@media screen {
				@media (max-width: 1199px) {
					display: block;
					padding: 0 15px;
				}
			}

			.nav-item {
				position: relative;
				margin: 0 5px 0 0;


				

				@media screen {
					@media (min-width: 1200px) {
						&::after {
							content: '';
							display: inline-block;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							width: 12px;
							background-color: #464240;
							z-index: 2;
						}
					}

					@media (max-width: 1199px) {
						display: block;
						margin: 0;
					}
				}

				&:last-child {
					margin: 0;
				}

				.nav-link {
					position: relative;
					display: block;
					padding: 0 23px 0 15px;
					line-height: 29px;
				    font-size: 17px;
				    font-weight: 400;
				    letter-spacing: 1.5px;
				    text-transform: uppercase;
				    @include transition();

				    @media screen {
				    	@media (min-width: 1200px) {
				    		&:hover, &.active {
								background-color: #d96629;
								color: #fff;
							}

					    	&::before {
						    	content: '';
						    	display: block;
						    	position: absolute;
						    	top: 0;
						    	left: 0;
						    	bottom: 0;
						    	margin: auto 0;
						    	width: 14px;
						    	height: 29px;
						    	background: url('../img/nav-separetor.svg') 0 0 no-repeat;
						    }

						    &::after {
							   content: '';
							    position: absolute;
							    display: block;
							    width: 15px;
							    height: 100%;
							    top: 0;
							    left: -5px;
							    z-index: 1;
							    background: #464240;
							    transform-origin: bottom left;
							    -ms-transform: skew(20deg, 0deg);
							    -webkit-transform: skew(20deg, 0deg);
							    transform: skew(20deg, 0deg);
							}
						}

						@media (max-width: 1199px) {
							padding: 6px 0;
							line-height: normal;
							font-size: 17px;

							
						}
				    }
				}
			}
		}

		.second-nav {
			padding: 0;

			@media screen {
				@media (min-width: 1200px) {
					position: fixed;
				    top: 0;
				    right: 0;
				    padding: 35px 15px 0 15px;
				    width: 315px;
				    z-index: 101;
				}

				@media (max-width: 1520px) AND (min-width: 1200px) {
					width: 270px;
				}

				@media(max-width: 1400px) AND (min-width: 1200px) {
					width: 250px;
				}
			}

			.nav {
				margin: 0 15px 0 0;

				.nav-item {
					.nav-link {
						padding: 0;
						text-transform: uppercase;
						@include transition();

						&::after {
							content: '\\';
						    padding: 0 0 0 10px;
						    font-weight: 300;
						    font-size: 27px;
						}

						&:hover {
							color: #d96629;
						}
					}
				}
			}

			.search-form {
				input[type="text"] {
					height: 20px;
					padding: 0 10px 0 0;
					border: 0;
					background: none;
					border-bottom: 1px solid #868180;
					color: #fff;
				}

				button[type="submit"],
				input[type="submit"] {
					width: 18px;
					height: 18px;
					border: 0;
					background: url('../img/search-icon.svg') 0 0 no-repeat;
					cursor: pointer;

					&:focus {
						outline: none;
					}
				}
			}

			.lang-bar {
				margin: 0 30px 0 0;

				.dropdown-toggle {
					text-transform: uppercase;

					&::after {
						content: normal;
					}
				}

				img {
					height: 12px;
					margin: 0 5px 0 0;
				}

				.dropdown-menu {
					min-width: 50px;
					padding: 2px 5px;
					background-color: darken(#322d2c, 5%);
					@include rounded(0);

					.dropdown-item {
						margin: 0 0 2px 0;
						padding: 0;
						color: #fff;
						font-weight: 500;
						font-size: 13px;
						text-transform: uppercase;

						&:last-child {
							margin: 0;
						}

						&:hover {
							background: none;
							color: #ddd;
						}
					}
				}
			}
		}

		.nav-wrap { 
    		margin: 4px 0 0 0;
    		@include transition();

    		@media screen {
    			@media (min-width: 1200px) {
    				.second-nav,
    				.sticky-block, {
    					display: none !important;
    				}
    			}

				@media (max-width: 1199px) {
					display: block !important;
					position: fixed;
					top: 0;
					right: -100%;
					max-width: 40%;
					height: 100% !important; 
					margin: 0;
					padding: 15px 0 50px 0;
					background-color: #322d2c;
					overflow: auto;
					z-index: 100;

					.close-menu {
						position: absolute;
					    top: 18px;
					    right: 15px;
					    width: 25px;
					    height: 25px;
					    background: url(../img/menu-close-ico.svg) 0 0 no-repeat;
					    background-size: contain;
					    z-index: 101;
					}

					.second-nav {
						position: static;
						width: 100%;
						padding: 30px 15px 0 15px;
						margin: 0 0 20px 0;

						.search-form {
						    position: absolute;
						    top: 10px;
						    left: 15px;
						    right: 70px;
						}
					}

					.sticky-block {
						display: block;
						position: static;
				    	margin: 25px 0 0 0;
				    	padding: 25px 0 0 0;
				    	width: 100%;
				    	border-top: 1px solid lighten(#322d2c, 10%);
					}
				}

				@media (max-width: 767px) {
					max-width: 80%;
				}
			}
		}

		.menu-toggle {
			display: inline-block;
			position: absolute;
			right: 15px;
			padding: 0;
			height: 23px;
			width: 35px;
			border-top: 5px solid #fff;
			border-bottom: 5px solid #fff;
			                
			&:before {
				content: '';
			    position: absolute;
			    top: 4px;
			    left: 0;
			    height: 5px;
			    width: 100%;
			    background: #fff;
			}
		}
	}	
}