@import '_functions.scss';

html, body {
    min-height: 100%;
}

body {
    background-color: #464240;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #9c9796;

    &.home {
        @media screen {
            @media (max-width: 767px) {
                background: url('../img/hero-video-poster.jpg') 0 0 no-repeat;
                background-size: cover;

                .hero-video {
                    video {
                        display: none;
                    }
                }
            }
        }

        #main-header { 
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            @media screen {
                @media (min-width: 1200px) {
                    .row {
                        position: static;

                        [class*="col"] {
                            position: static;
                        }
                    }                    
                }
            }

            .navbar-nav {
                .nav-item {
                    .nav-link {
                        &::after {
                            content: normal;
                        }

                        &:hover {
                            background-color: transparent;
                            color: #d96629;
                        }
                    }
                }
            }

            .second-nav {
                .lang-bar {
                    .dropdown-menu {
                        padding: 0;
                        border: 0;
                        background-color: transparent;
                    }
                }
            }
        }

        #main-content {
            padding: 0;
        }

        .sticky-block {
            right: -100%;
            width: 280px;
            padding: 23vh 0px 0px;
            background-color: transparent;
            @include transition();

            &.show {
                right: 0;
            }


            @media screen {
                @media (max-width: 1299px) {
                    width: 180px;
                }
            }

            .home-event {
                background-color: #d96629;
                color: #fff;

                .event-date {
                    width: 65px;
                    padding: 5px;
                    background-color: #413c3b;
                    color: #fff;
                    text-align: center;
                    z-index: 1;

                    span {
                        display: block;
                        line-height: normal;
                        font-weight: 300;
                    }

                    .day {
                        font-size: 30px;
                        color: #d96629;
                    }

                    .month {
                        font-size: 13px;
                    }

                    .week-day {
                        font-size: 11px;
                        color: #d96629;
                    }
                }

                .name {
                    padding: 30px 60px 30px 20px;
                    line-height: 1.4;
                    font-size: 19px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    text-transform: uppercase;

                    @media screen {
                        @media (max-width: 1299px) {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

textarea:focus, input:focus, select:focus, a:focus {
    outline: none;
}

img {
    max-width: 100%;
	border: none;
}

a {
    color: #fff;
    @include transition(color, .3s);

    &:hover {
        color: darken(#fff, 2%);
    }
}

ul {
	padding: 0;
	margin: 0;
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

#main-content .container {
    position: relative;

    @media screen {
        @media (min-width: 1760px) {
            max-width: 1060px;
        }

        @media (min-width: 1450px) AND (max-width: 1759px) {
            max-width: 900px;
        }

        @media (min-width: 1200px) AND (max-width: 1549px) {
            right: 110px;
            max-width: 900px;
        }
    }
}

form {
    .form-group {
        margin: 0 0 5px 0;
    }

    label {
        display: block;
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        color: #26252b;
    }

    .form-control {
        height: 30px;
        padding: 0 10px;
        border: 0;
        background: #cdcbcb;
        border: 0;
        color: #26252b;
        font-size: 14px; 
        box-shadow: none;
        -o-box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        @include transition();
        @include rounded(0);

        &::-webkit-input-placeholder { 
            color: #26252b;
        }

        &::-moz-placeholder {
            color: #26252b;
        }

        &:-ms-input-placeholder {
            color: #26252b;
        }

        &:-moz-placeholder {
            color: #26252b;
        }

         &:focus {
            background: #cdcbcb;
            box-shadow: none;
            -o-box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
    }

    textarea.form-control {
        padding-top: 10px;
        min-height: 103px;
    }

    textarea.form-control.contacts {
        min-height: 60px;
    }

    button[type="submit"],
    input[type="submit"] {
        margin: 10px 0 0 0 !important;
    }
}

.btn {
    &.btn-primary {
        display: inline-block;
        padding: 2px 5px;
        margin: 5px 0 0 0;
        line-height: normal;
        border: 0;
        background-color: #d96629;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        @include rounded(0);

        &:hover {
            background-color: darken(#d96629, 20%);
        }

        &:not(.disabled) {
            &:active {
                background-color: darken(#d96629, 20%);
                box-shadow: none;
                -o-box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }

            &:active:focus, &:focus {
                box-shadow: none;
                -o-box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }
        }
    }
}

.bootstrap-select {
    width: 100% !important;
    
    .dropdown-toggle {
        height: 45px;
        padding-top: 0;
        padding-bottom: 0;
        @include rounded(0);

        &:focus {
            box-shadow: none;
            outline: none !important;
        }

        .filter-option  {
            display: block;
            line-height: 45px;
        }

        &::after {
            position: absolute;
            top: 0;
            right: 10px;
            bottom: 0;
            margin: auto 0;
        }
    }

    &.show {
        .dropdown-menu {
            display: block;
            padding: 0;
            margin: 0;
            border: 0;
            background-color: #eee;
            @include rounded(0);

            &.inner {
                padding: 10px 0;

                li {
                    a {
                        display: block;
                        padding: 4px 10px;
                        font-weight: 500;
                        font-size: 14px;
                        color: #26252b;

                        @media screen {
                            @media (min-width: 768px) {
                                &:hover {
                                    color: #d96629;
                                }                                
                            }
                        }

                        span {
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

.breadcrumb-wrapper {
    margin: 0 0 5px 0;
    border-bottom: 3px solid #d96629;

    .breadcrumb {
        padding: 0 0 2px 0;
        margin: 0;
        background: none;
        text-transform: uppercase;

        .breadcrumb-item {
            padding: 0;
            margin: 0 4px 0 0;
            color: #9c9796;

            &:last-child {
                margin: 0;
            }

            &::before {
                padding: 0 4px 0 0;
                color: #9c9796;
            }
            
            a {
                color: #9c9796;
                text-decoration: none;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

.modal {
    .modal-dialog {
        @media screen {
            @media(min-width: 768px) {
                max-width: 550px;
            }
        }
       
        .modal-content {
            border: 0;
            @include rounded(0);

            .modal-header {
                padding: 20px 0;
                border: 0;
                @include rounded(0);

                .modal-title {
                    position: relative;
                    margin: 0;
                    color: #fff;
                    text-transform: uppercase;

                    &::before {
                       content: '';
                        display: inline-block;
                        position: absolute;
                        top: -20px;
                        left: -27px;
                        bottom: 0;
                        width: 38px;
                        height: 95px;
                        background: url(../img/sticky-block-line.svg) 0 0 no-repeat;
                    }

                    span {
                        position: relative;
                        display: inline-block;
                        line-height: 50px;
                        padding: 0 15px 0 10px;
                        background-color: #d96629;
                        font-size: 19px;
                        font-weight: 400;
                        letter-spacing: .5px;

                        @media screen {
                            @media (max-width: 575px) {
                                font-size: 16px;
                            }
                        }

                        i {
                            position: relative;
                            font-style: normal;
                            z-index: 1;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            background: #d96629;
                            transform-origin: bottom left;
                            -ms-transform: skew(20deg, 0deg);
                            -webkit-transform: skew(20deg, 0deg);
                            transform: skew(20deg, 0deg);
                        }
                    }
                }
            }

            .modal-body {
                padding: 10px;
            }
        }
    }
}

.modal-backdrop {
    background-color: rgb(72, 67, 66);

    &.show {
        opacity: .6;
    }
}

.tooltip {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;

    .tooltip-inner {
        order: 1;
        padding: 5px 7px;
        background-color: #d96629;
        text-transform: uppercase;
        @include rounded(0);

        h2, h3, h4 {
            border-bottom: 1px solid #fff;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: .5px;
        }

        span {
            display: block;
            font-size: 13px;
            font-weight: 300;
            opacity: .8;
        }
    }

    .arrow {
        position: static;
        height: 100px;
        width: 2px;
        background-color: #d96629;
        order: 2;

        &::before {
            content: normal;
        }
    }    

    &.show {
        opacity: 1;
    }
}


@import '_header.scss';
@import '_content.scss';
@import '_footer.scss';