@charset "UTF-8";
html, body {
  min-height: 100%;
}

body {
  background-color: #464240;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #9c9796;
}

@media screen and (max-width: 767px) {
  body.home .hero-video video {
    display: none;
  }
}

body.home #main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 1200px) {
  body.home #main-header .row {
    position: static;
  }
  body.home #main-header .row [class*="col"] {
    position: static;
  }
}

body.home #main-header .navbar-nav .nav-item::after {
  content: normal !important;
}

body.home #main-header .navbar-nav .nav-item .nav-link::after {
  content: normal !important;
}

body.home #main-header .navbar-nav .nav-item .nav-link:hover {
  background-color: transparent;
  color: #d96629;
}

body.home #main-header .second-nav .lang-bar .dropdown-menu {
  padding: 0;
  border: 0;
  background-color: transparent;
}

body.home #main-content {
  padding: 0;
}

body.home .sticky-block {
  right: -100%;
  width: 280px;
  padding: 23vh 0px 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body.home .sticky-block.show {
  right: 0;
}

@media screen and (max-width: 1299px) {
  body.home .sticky-block {
    width: 180px;
  }
}

body.home .sticky-block .home-event {
  background-color: #d96629;
  color: #fff;
}

body.home .sticky-block .home-event .event-date {
  width: 65px;
  padding: 5px;
  background-color: #413c3b;
  color: #fff;
  text-align: center;
  z-index: 1;
}

body.home .sticky-block .home-event .event-date span {
  display: block;
  line-height: normal;
  font-weight: 300;
}

body.home .sticky-block .home-event .event-date .day {
  font-size: 30px;
  color: #d96629;
}

body.home .sticky-block .home-event .event-date .month {
  font-size: 13px;
}

body.home .sticky-block .home-event .event-date .week-day {
  font-size: 11px;
  color: #d96629;
}

body.home .sticky-block .home-event .name {
  padding: 30px 60px 30px 20px;
  line-height: 1.4;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media screen and (max-width: 1299px) {
  body.home .sticky-block .home-event .name {
    font-size: 17px;
  }
}

textarea:focus, input:focus, select:focus, a:focus {
  outline: none;
}

img {
  max-width: 100%;
  border: none;
}

a {
  color: #fff;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #fafafa;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

#main-content .container {
  position: relative;
}

@media screen and (min-width: 1760px) {
  #main-content .container {
    max-width: 1060px;
  }
}

@media screen and (min-width: 1450px) and (max-width: 1759px) {
  #main-content .container {
    max-width: 900px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
  #main-content .container {
    right: 110px;
    max-width: 900px;
  }
}

form .form-group {
  margin: 0 0 5px 0;
}

form label {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #26252b;
}

form .form-control {
  height: 30px;
  padding: 0 10px;
  border: 0;
  background: #cdcbcb;
  border: 0;
  color: #26252b;
  font-size: 14px;
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

form .form-control::-webkit-input-placeholder {
  color: #26252b;
}

form .form-control::-moz-placeholder {
  color: #26252b;
}

form .form-control:-ms-input-placeholder {
  color: #26252b;
}

form .form-control:-moz-placeholder {
  color: #26252b;
}

form .form-control:focus {
  background: #cdcbcb;
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

form textarea.form-control {
  padding-top: 10px;
  min-height: 103px;
}

form textarea.form-control.contacts {
  min-height: 60px;
}

form button[type="submit"],
form input[type="submit"] {
  margin: 10px 0 0 0 !important;
}

.btn.btn-primary {
  display: inline-block;
  padding: 2px 5px;
  margin: 5px 0 0 0;
  line-height: normal;
  border: 0;
  background-color: #d96629;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.btn.btn-primary:hover {
  background-color: #843d18;
}

.btn.btn-primary:not(.disabled):active {
  background-color: #843d18;
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.btn.btn-primary:not(.disabled):active:focus, .btn.btn-primary:not(.disabled):focus {
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.bootstrap-select {
  width: 100% !important;
}

.bootstrap-select .dropdown-toggle {
  height: 45px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.bootstrap-select .dropdown-toggle:focus {
  box-shadow: none;
  outline: none !important;
}

.bootstrap-select .dropdown-toggle .filter-option {
  display: block;
  line-height: 45px;
}

.bootstrap-select .dropdown-toggle::after {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto 0;
}

.bootstrap-select.show .dropdown-menu {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #eee;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.bootstrap-select.show .dropdown-menu.inner {
  padding: 10px 0;
}

.bootstrap-select.show .dropdown-menu.inner li a {
  display: block;
  padding: 4px 10px;
  font-weight: 500;
  font-size: 14px;
  color: #26252b;
}

@media screen and (min-width: 768px) {
  .bootstrap-select.show .dropdown-menu.inner li a:hover {
    color: #d96629;
  }
}

.bootstrap-select.show .dropdown-menu.inner li a span {
  font-size: 15px;
  font-weight: 500;
}

.breadcrumb-wrapper {
  margin: 0 0 5px 0;
  border-bottom: 3px solid #d96629;
}

.breadcrumb-wrapper .breadcrumb {
  padding: 0 0 2px 0;
  margin: 0;
  background: none;
  text-transform: uppercase;
}

.breadcrumb-wrapper .breadcrumb .breadcrumb-item {
  padding: 0;
  margin: 0 4px 0 0;
  color: #9c9796;
}

.breadcrumb-wrapper .breadcrumb .breadcrumb-item:last-child {
  margin: 0;
}

.breadcrumb-wrapper .breadcrumb .breadcrumb-item::before {
  padding: 0 4px 0 0;
  color: #9c9796;
}

.breadcrumb-wrapper .breadcrumb .breadcrumb-item a {
  color: #9c9796;
  text-decoration: none;
}

.breadcrumb-wrapper .breadcrumb .breadcrumb-item a:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .modal .modal-dialog {
    max-width: 550px;
  }
}

.modal .modal-dialog .modal-content {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-header {
  padding: 20px 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-header .modal-title {
  position: relative;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
}

.modal .modal-dialog .modal-content .modal-header .modal-title::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -20px;
  left: -27px;
  bottom: 0;
  width: 38px;
  height: 95px;
  background: url(../img/sticky-block-line.svg) 0 0 no-repeat;
}

.modal .modal-dialog .modal-content .modal-header .modal-title span {
  position: relative;
  display: inline-block;
  line-height: 50px;
  padding: 0 15px 0 10px;
  background-color: #d96629;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: .5px;
}

@media screen and (max-width: 575px) {
  .modal .modal-dialog .modal-content .modal-header .modal-title span {
    font-size: 16px;
  }
}

.modal .modal-dialog .modal-content .modal-header .modal-title span i {
  position: relative;
  font-style: normal;
  z-index: 1;
}

.modal .modal-dialog .modal-content .modal-header .modal-title span::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #d96629;
  transform-origin: bottom left;
  -ms-transform: skew(20deg, 0deg);
  -webkit-transform: skew(20deg, 0deg);
  transform: skew(20deg, 0deg);
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 10px;
}

.modal-backdrop {
  background-color: #484342;
}

.modal-backdrop.show {
  opacity: .6;
}

.tooltip {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

.tooltip .tooltip-inner {
  order: 1;
  padding: 5px 7px;
  background-color: #d96629;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.tooltip .tooltip-inner h2, .tooltip .tooltip-inner h3, .tooltip .tooltip-inner h4 {
  border-bottom: 1px solid #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5px;
}

.tooltip .tooltip-inner span {
  display: block;
  font-size: 13px;
  font-weight: 300;
  opacity: .8;
}

.tooltip .arrow {
  position: static;
  height: 100px;
  width: 2px;
  background-color: #d96629;
  order: 2;
}

.tooltip .arrow::before {
  content: normal;
}

.tooltip.show {
  opacity: 1;
}

#main-header {
  padding: 40px 0;
}

@media screen and (max-width: 1750px) and (min-width: 1200px) {
  #main-header .navbar,
  #main-header .container,
  #main-header .row,
  #main-header [class*="col-"] {
    position: static;
  }
}

@media screen and (max-width: 1199px) {
  #main-header {
    padding: 25px 0;
  }
}

#main-header .navbar {
  padding: 0;
}

#main-header .navbar .container {
  display: block;
}

#main-header .navbar .navbar-brand {
  padding: 0;
  margin: 0 12px 0 0;
  font-size: 0;
}

#main-header .navbar .navbar-brand img {
  width: 180px;
}

#main-header .navbar .navbar-nav {
  margin-left: 5px;
}

@media screen and (max-width: 1199px) {
  #main-header .navbar .navbar-nav {
    display: block;
    padding: 0 15px;
  }
}

#main-header .navbar .navbar-nav .nav-item {
  position: relative;
  margin: 0 5px 0 0;
}

@media screen and (min-width: 1200px) {
  #main-header .navbar .navbar-nav .nav-item::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    background-color: #464240;
    z-index: 2;
  }
}

@media screen and (max-width: 1199px) {
  #main-header .navbar .navbar-nav .nav-item {
    display: block;
    margin: 0;
  }
}

#main-header .navbar .navbar-nav .nav-item:last-child {
  margin: 0;
}

#main-header .navbar .navbar-nav .nav-item .nav-link {
  position: relative;
  display: block;
  padding: 0 23px 0 15px;
  line-height: 29px;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1200px) {
  #main-header .navbar .navbar-nav .nav-item .nav-link:hover, #main-header .navbar .navbar-nav .nav-item.active .nav-link{
    background-color: #d96629;
    color: #fff;
  }
  #main-header .navbar .navbar-nav .nav-item .nav-link::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    width: 14px;
    height: 29px;
    background: url("../img/nav-separetor.svg") 0 0 no-repeat;
  }
  #main-header .navbar .navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    display: block;
    width: 15px;
    height: 100%;
    top: 0;
    left: -5px;
    z-index: 1;
    background: #464240;
    transform-origin: bottom left;
    -ms-transform: skew(20deg, 0deg);
    -webkit-transform: skew(20deg, 0deg);
    transform: skew(20deg, 0deg);
  }
}

@media screen and (max-width: 1199px) {
  #main-header .navbar .navbar-nav .nav-item .nav-link {
    padding: 6px 0;
    line-height: normal;
    font-size: 17px;
  }
}

#main-header .navbar .second-nav {
  padding: 0;
}

@media screen and (min-width: 1200px) {
  #main-header .navbar .second-nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 35px 15px 0 15px;
    width: 315px;
    z-index: 101;
  }
}

@media screen and (max-width: 1520px) and (min-width: 1200px) {
  #main-header .navbar .second-nav {
    width: 270px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  #main-header .navbar .second-nav {
    width: 250px;
  }
}

#main-header .navbar .second-nav .nav {
  margin: 0 15px 0 0;
}

#main-header .navbar .second-nav .nav .nav-item .nav-link {
  padding: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#main-header .navbar .second-nav .nav .nav-item .nav-link::after {
  content: '\\';
  padding: 0 0 0 10px;
  font-weight: 300;
  font-size: 27px;
}

#main-header .navbar .second-nav .nav .nav-item .nav-link:hover {
  color: #d96629;
}

#main-header .navbar .second-nav .search-form input[type="text"] {
  height: 20px;
  padding: 0 10px 0 0;
  border: 0;
  background: none;
  border-bottom: 1px solid #868180;
  color: #fff;
}

#main-header .navbar .second-nav .search-form button[type="submit"],
#main-header .navbar .second-nav .search-form input[type="submit"] {
  width: 18px;
  height: 18px;
  border: 0;
  background: url("../img/search-icon.svg") 0 0 no-repeat;
  cursor: pointer;
}

#main-header .navbar .second-nav .search-form button[type="submit"]:focus,
#main-header .navbar .second-nav .search-form input[type="submit"]:focus {
  outline: none;
}

#main-header .navbar .second-nav .lang-bar {
  margin: 0 30px 0 0;
}

#main-header .navbar .second-nav .lang-bar .dropdown-toggle {
  text-transform: uppercase;
}

#main-header .navbar .second-nav .lang-bar .dropdown-toggle::after {
  content: normal;
}

#main-header .navbar .second-nav .lang-bar img {
  height: 12px;
  margin: 0 5px 0 0;
}

#main-header .navbar .second-nav .lang-bar .dropdown-menu {
  min-width: 50px;
  padding: 2px 5px;
  background-color: #242120;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

#main-header .navbar .second-nav .lang-bar .dropdown-menu .dropdown-item {
  margin: 0 0 2px 0;
  padding: 0;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}

#main-header .navbar .second-nav .lang-bar .dropdown-menu .dropdown-item:last-child {
  margin: 0;
}

#main-header .navbar .second-nav .lang-bar .dropdown-menu .dropdown-item:hover {
  background: none;
  color: #ddd;
}

#main-header .navbar .nav-wrap {
  margin: 4px 0 0 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1200px) {
  #main-header .navbar .nav-wrap .second-nav,
  #main-header .navbar .nav-wrap .sticky-block {
    display: none !important;
  }
}

@media screen and (max-width: 1199px) {
  #main-header .navbar .nav-wrap {
    display: block !important;
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 40%;
    height: 100% !important;
    margin: 0;
    padding: 15px 0 50px 0;
    background-color: #322d2c;
    overflow: auto;
    z-index: 100;
  }
  #main-header .navbar .nav-wrap .close-menu {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 25px;
    height: 25px;
    background: url(../img/menu-close-ico.svg) 0 0 no-repeat;
    background-size: contain;
    z-index: 101;
  }
  #main-header .navbar .nav-wrap .second-nav {
    position: static;
    width: 100%;
    padding: 30px 15px 0 15px;
    margin: 0 0 20px 0;
  }
  #main-header .navbar .nav-wrap .second-nav .search-form {
    position: absolute;
    top: 10px;
    left: 15px;
    right: 70px;
  }
  #main-header .navbar .nav-wrap .sticky-block {
    display: block;
    position: static;
    margin: 25px 0 0 0;
    padding: 25px 0 0 0;
    width: 100%;
    border-top: 1px solid #4d4544;
  }
}

@media screen and (max-width: 767px) {
  #main-header .navbar .nav-wrap {
    max-width: 80%;
  }
}

#main-header .navbar .menu-toggle {
  display: inline-block;
  position: absolute;
  right: 15px;
  padding: 0;
  height: 23px;
  width: 35px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

#main-header .navbar .menu-toggle:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  height: 5px;
  width: 100%;
  background: #fff;
}

#main-content {
  padding: 0 0 50px 0;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 0;
  left: -30px;
  right: -30px;
  bottom: 0;
  margin: auto 0;
  height: .1px;
}

@media screen and (max-width: 767px) {
  .owl-carousel .owl-nav {
    position: static;
    display: block;
    height: auto;
    margin: 20px 0;
    text-align: center;
  }
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: -9.5px;
  width: 20px;
  text-indent: -9999px;
}

@media screen and (max-width: 767px) {
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    display: inline-block;
    position: static;
    margin: 0 5px;
  }
}

.owl-carousel .owl-nav .owl-prev {
  left: 0;
  background: url("../img/arrow-left.svg") 0 0 no-repeat;
}

.owl-carousel .owl-nav .owl-next {
  right: 0;
  background: url("../img/arrow-right.svg") 0 0 no-repeat;
}

.hero-video {
  width: 100%;
  height: 80vh;
  background-size: cover;
  backface-visibility: hidden;
  z-index: 1;
}

.hero-video figure {
  margin: 0;
}

.hero-video video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  z-index: -1;
}

.hero-video .text {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hero-video .text {
    padding: 0 20px;
  }
}

.hero-video .text img {
  max-width: 55%;
}

@media screen and (max-width: 991px) {
  .hero-video .text img {
    max-width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .hero-video .text img {
    max-width: 100%;
  }
}

.hero-video .play-sound {
  display: inline-block;
  position: absolute;
  top: 70vh;
  left: 0;
  right: 0;
  width: 53px;
  height: 53px;
  margin: 0 auto;
  background: url("../img/sound-icon.svg") 0 0 no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .hero-video .play-sound {
    display: none;
  }
}

.events-categories-links {
  margin: 0 0 15px 0;
}

@media screen and (min-width: 576px) {
  .events-categories-links li {
    margin: 0 15px 0 0;
  }
}

.events-categories-links li a {
  display: block;
  padding: 1px 4px;
  color: #D96629;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .events-categories-links li a:hover {
    background-color: #645f5e;
  }
}

@media screen and (max-width: 575px) {
  .events-categories-links li a {
    padding: 3px 4px;
    font-size: 14px;
  }
}

.events-categories-links li.active a {
  background-color: #645f5e;
  font-weight: 500;
  pointer-events: none;
}

.info-box {
  position: relative;
}

.info-box .details, .info-box .hover-details {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgba(72, 67, 66, 0.6);
}

.info-box .details .name, .info-box .hover-details .name {
  line-height: normal;
  font-size: 16px;
  font-weight: 400;
}

.info-box .details .name a, .info-box .hover-details .name a {
  color: #fff;
  text-transform: uppercase;
}

.info-box .details > span, .info-box .hover-details > span {
  display: block;
  font-weight: 300;
  font-size: 15px;
  color: #ddd;
  text-transform: uppercase;
}

@media screen and (max-width: 440px) {
  .info-box .details > span, .info-box .hover-details > span {
    font-size: 12px;
  }
}

.info-box .details .btn.no-bg, .info-box .hover-details .btn.no-bg {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-size: 13px;
  background: none;
  color: #d96629;
}

.info-box .event-date {
  position: absolute;
  top: 0;
  right: 0;
  width: 85px;
  padding: 0 0 5px 0;
  background-color: #d96629;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.info-box .event-date span {
  display: block;
  line-height: normal;
  font-weight: 300;
}

.info-box .event-date .day {
  font-size: 40px;
}

@media screen and (max-width: 991px) {
  .info-box .event-date .day {
    font-size: 30px;
  }
}

.info-box .event-date .month {
  font-size: 16px;
}

.info-box .event-date .week-day {
  font-size: 12px;
}

.info-box blockquote {
  margin: 0;
  color: #fff;
}

@media screen and (max-width: 350px) {
  .info-box blockquote {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 95%;
    text-overflow: ellipsis;
  }
}

.info-box blockquote cite {
  line-height: 1.4;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

@media screen and (max-width: 1759px) {
  .info-box blockquote cite {
    font-size: 15px;
  }
}

@media screen and (max-width: 991px) {
  .info-box blockquote cite {
    font-size: 14px;
  }
}

.info-box blockquote cite::before {
  content: '“';
}

.info-box blockquote cite::after {
  content: '”';
}

.info-box blockquote footer .name {
  display: block;
  font-size: 15px;
}

@media screen and (max-width: 991px) {
  .info-box blockquote footer .name {
    margin: 10px 0 0 0;
    font-size: 12px !important;
  }
}

.info-box.download-pdf-banner {
  position: relative;
}

.info-box.download-pdf-banner .holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.info-box.download-pdf-banner .holder .pdf {
  height: 73.4756%;
  padding: 17px 0;
  background-color: rgba(217, 102, 41, 0.6);
  color: #fff;
}

.info-box.download-pdf-banner .holder .pdf::before {
  content: '';
  display: block;
  height: 80px;
  width: 100%;
  margin: 0 0 20px 0;
  background: url("../img/brivas-telpas.svg") center top no-repeat;
}

@media screen and (max-width: 1759px) and (min-width: 1200px) {
  .info-box.download-pdf-banner .holder .pdf::before {
    height: 55px;
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .info-box.download-pdf-banner .holder .pdf::before {
    height: 40px;
    margin: 0;
  }
}

@media screen and (max-width: 575px) {
  .info-box.download-pdf-banner .holder .pdf::before {
    height: 60px;
    margin: 0;
  }
}

@media screen and (max-width: 420px) {
  .info-box.download-pdf-banner .holder .pdf::before {
    content: normal;
  }
}

.info-box.download-pdf-banner .holder .pdf .info {
  font-size: 14px;
}

.info-box.download-pdf-banner .holder .pdf .info span {
  display: block;
  margin: 0 0 5px 0;
  font-size: 11px;
  text-align: center;
  opacity: .8;
}

.info-box.download-pdf-banner .holder .pdf .info::after {
  content: '';
  display: block;
  height: 65px;
  width: 100%;
  background: url("../img/pdf-icon-white.svg") center no-repeat;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .info-box.download-pdf-banner .holder .pdf .info::after {
    height: 30px;
  }
}

@media screen and (max-width: 575px) {
  .info-box.download-pdf-banner .holder .pdf .info::after {
    height: 40px;
  }
}

.info-box.download-pdf-banner .holder .btn-holder {
  height: 26.5244%;
  padding: 10px;
  background-color: rgba(72, 67, 66, 0.6);
}

.info-box.download-pdf-banner .holder .btn-holder .btn {
  white-space: normal;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .info-box.download-pdf-banner .holder .btn-holder {
    padding: 0;
  }
}

@media screen and (max-width: 575px) {
  .info-box.download-pdf-banner .holder .btn-holder {
    padding: 5px;
  }
}

.info-box.has-capacity-hover .details {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.info-box.has-capacity-hover .hover-details {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0 35px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 575px) {
  .info-box.has-capacity-hover .hover-details {
    padding: 0 15px;
  }
}

.info-box.has-capacity-hover .hover-details .name {
  width: 100%;
  margin: 0 0 15px 0;
  padding: 0 10px 5px 10px;
  border-bottom: 1px solid #D96629;
  line-height: normal;
  font-size: 24px;
  font-weight: 400;
  color: #D96629;
  text-align: center;
}

@media screen and (max-width: 1759px) {
  .info-box.has-capacity-hover .hover-details .name {
    font-size: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .info-box.has-capacity-hover .hover-details .name {
    font-size: 16px;
  }
}

@media screen and (max-width: 575px) {
  .info-box.has-capacity-hover .hover-details .name {
    padding: 0 0 5px 0;
  }
}

.info-box.has-capacity-hover .hover-details .name span {
  display: block;
  line-height: normal;
  font-weight: 300;
  font-size: 14px;
  color: #D96629;
}

@media screen and (max-width: 1759px) {
  .info-box.has-capacity-hover .hover-details .name span {
    font-size: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .info-box.has-capacity-hover .hover-details .name span {
    font-size: 12px !important;
  }
}

.info-box.has-capacity-hover .hover-details .amount {
  width: 100%;
  text-align: center;
}

.info-box.has-capacity-hover .hover-details .amount span {
  display: block;
  border-top: 1px solid #fff;
  font-size: 35px;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1759px) {
  .info-box.has-capacity-hover .hover-details .amount span {
    font-size: 21px;
  }
}

@media screen and (max-width: 991px) {
  .info-box.has-capacity-hover .hover-details .amount span {
    font-size: 16px;
  }
}

@media screen and (max-width: 340px) {
  .info-box.has-capacity-hover .hover-details .amount span {
    border: 0;
  }
}

.info-box.has-capacity-hover .hover-details .amount::before {
  content: '';
  display: block;
  height: 85px;
  margin: 10px 0 15px 0;
  background: url("../img/people-icon.svg") center no-repeat;
}

@media screen and (max-width: 1759px) {
  .info-box.has-capacity-hover .hover-details .amount::before {
    height: 30px;
  }
}

@media screen and (max-width: 340px) {
  .info-box.has-capacity-hover .hover-details .amount::before {
    content: normal;
  }
}

.info-box.has-capacity-hover .hover-details .btn {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.info-box.has-capacity-hover:hover .details {
  opacity: 0 !important;
}

.info-box.has-capacity-hover:hover .hover-details {
  opacity: 1;
}

.info-boxes-list {
  margin: 30px 0 0 0;
}

.info-boxes-list .row {
  margin: 0 -10px;
}

.info-boxes-list .row [class*="col-"] {
  padding: 0 10px;
}

@media screen and (max-width: 767px) {
  .info-boxes-list .row [class*="col-"] {
    margin: 0 0 20px 0;
  }
}

@media screen and (max-width: 575px) {
  .info-boxes-list .row [class*="col-"] {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.info-boxes-list.people-capacity .info-box .hover-details, .info-boxes-list.people-capacity .info-box .details {
  top: 0;
  padding: 0 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 575px) {
  .info-boxes-list.people-capacity .info-box .hover-details, .info-boxes-list.people-capacity .info-box .details {
    padding: 0 15px;
  }
}

.info-boxes-list.people-capacity .info-box .hover-details .name, .info-boxes-list.people-capacity .info-box .details .name {
  width: 100%;
  margin: 0 0 15px 0;
  padding: 0 10px 5px 10px;
  border-bottom: 1px solid #D96629;
  line-height: normal;
  font-size: 24px;
  font-weight: 400;
  color: #D96629;
  text-align: center;
}

@media screen and (max-width: 1759px) {
  .info-boxes-list.people-capacity .info-box .hover-details .name, .info-boxes-list.people-capacity .info-box .details .name {
    font-size: 20px;
  }
}

@media screen and (max-width: 575px) {
  .info-boxes-list.people-capacity .info-box .hover-details .name, .info-boxes-list.people-capacity .info-box .details .name {
    padding: 0 0 5px 0;
    font-size: 16px;
  }
}

.info-boxes-list.people-capacity .info-box .hover-details .name span, .info-boxes-list.people-capacity .info-box .details .name span {
  display: block;
  line-height: normal;
  font-weight: 300;
  font-size: 18px;
}

@media screen and (max-width: 1759px) {
  .info-boxes-list.people-capacity .info-box .hover-details .name span, .info-boxes-list.people-capacity .info-box .details .name span {
    font-size: 16px;
  }
}

.info-boxes-list.people-capacity .info-box .hover-details .amount, .info-boxes-list.people-capacity .info-box .details .amount {
  width: 100%;
  text-align: center;
}

.info-boxes-list.people-capacity .info-box .hover-details .amount span, .info-boxes-list.people-capacity .info-box .details .amount span {
  display: block;
  border-top: 1px solid #fff;
  font-size: 35px;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1759px) {
  .info-boxes-list.people-capacity .info-box .hover-details .amount span, .info-boxes-list.people-capacity .info-box .details .amount span {
    font-size: 21px;
  }
}

@media screen and (max-width: 991px) {
  .info-boxes-list.people-capacity .info-box .hover-details .amount span, .info-boxes-list.people-capacity .info-box .details .amount span {
    font-size: 16px;
  }
}

@media screen and (max-width: 340px) {
  .info-boxes-list.people-capacity .info-box .hover-details .amount span, .info-boxes-list.people-capacity .info-box .details .amount span {
    border: 0;
  }
}

.info-boxes-list.people-capacity .info-box .hover-details .amount::before, .info-boxes-list.people-capacity .info-box .details .amount::before {
  content: '';
  display: block;
  height: 85px;
  margin: 10px 0 15px 0;
  background: url("../img/people-icon.svg") center no-repeat;
}

@media screen and (max-width: 1759px) {
  .info-boxes-list.people-capacity .info-box .hover-details .amount::before, .info-boxes-list.people-capacity .info-box .details .amount::before {
    height: 30px;
  }
}

@media screen and (max-width: 340px) {
  .info-boxes-list.people-capacity .info-box .hover-details .amount::before, .info-boxes-list.people-capacity .info-box .details .amount::before {
    content: normal;
  }
}

.info-boxes-list.people-capacity .info-box .hover-details {
  opacity: 0;
}

@media screen and (max-width: 991px) {
  .info-boxes-list.people-capacity .info-box .hover-details {
    padding: 0 15px;
  }
}

.info-boxes-list.people-capacity .info-box .hover-details .holder .name {
  border-bottom: 1px solid #D96629;
  font-size: 24px;
  font-weight: 400;
  color: #D96629;
}

@media screen and (max-width: 1199px) {
  .info-boxes-list.people-capacity .info-box .hover-details .holder .name {
    font-size: 16px;
  }
}

.info-boxes-list.people-capacity .info-box .hover-details .holder .name span {
  display: block;
  line-height: normal;
  font-weight: 300;
  font-size: 14px;
  color: #D96629;
}

@media screen and (max-width: 1199px) {
  .info-boxes-list.people-capacity .info-box .hover-details .holder .name span {
    font-size: 12px !important;
  }
}

.info-boxes-list.people-capacity .info-box .btn {
  position: absolute;
  left: 7px;
  bottom: 7px;
}

.info-boxes-list.people-capacity .info-box.has-text .details {
  padding: 0 15px;
}

.info-boxes-list.people-capacity .info-box.has-text .name {
  border-color: #fff;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 1759px) {
  .info-boxes-list.people-capacity .info-box.has-text .name {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 991px) {
  .info-boxes-list.people-capacity .info-box.has-text .name {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 350px) {
  .info-boxes-list.people-capacity .info-box.has-text .name {
    font-size: 13px !important;
  }
}

.info-boxes-list.people-capacity .info-box.has-text .name span {
  font-size: 24px;
  color: #ddd;
}

@media screen and (max-width: 1759px) {
  .info-boxes-list.people-capacity .info-box.has-text .name span {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 991px) {
  .info-boxes-list.people-capacity .info-box.has-text .name span {
    font-size: 15px !important;
  }
}

.info-boxes-list.people-capacity .info-box.has-text .message {
  padding: 0 20px;
  text-align: center;
}

@media screen and (max-width: 1759px) {
  .info-boxes-list.people-capacity .info-box.has-text .message {
    padding: 0 10px;
  }
}

.info-boxes-list.people-capacity .info-box.has-text .message p {
  margin: 0;
  line-height: normal;
  color: #D96629;
  font-size: 17px;
  font-weight: 300;
}

@media screen and (max-width: 1759px) {
  .info-boxes-list.people-capacity .info-box.has-text .message p {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .info-boxes-list.people-capacity .info-box.has-text .message p {
    font-size: 12px;
  }
}

.info-boxes-list.people-capacity .info-box:hover .details {
  opacity: 0;
}

.info-boxes-list.people-capacity .info-box:hover .hover-details {
  opacity: 1;
}

.info-boxes-list.home-page {
  padding: 25px 0;
  border-top: 3px solid #d96629;
  background-color: rgba(72, 67, 66, 0.8);
}

@media screen and (min-width: 1200px) {
  .info-boxes-list.home-page .container {
    position: relative;
  }
  .info-boxes-list.home-page .container::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -80px;
    right: -40px;
    width: 48px;
    height: 117px;
    background: url(../img/sticky-block-line.svg) 0 0 no-repeat;
  }
}

.info-boxes-list.home-page .btn.btn-primary {
  background-color: #d96629;
}

.info-boxes-list.home-page .btn.btn-primary:hover {
  background-color: #ba8c23;
}

.info-boxes-list.home-page .fb-link {
  display: inline-block;
  position: relative;
  float:right;
  right: 20px;
  bottom: 0;
  height: 24px;
  padding: 0 0 0 30px;
  background: url("../img/fb-icon.svg") right 0 no-repeat;
}

@media screen and (min-width: 441px) {
  .info-boxes-list.home-page .fb-link::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -9px;
    margin: auto 0;
    width: 13px;
    height: 33px;
    background: url(../img/yellow-line.svg) 0 0 no-repeat;
  }
}

@media screen and (max-width: 360px) {
  .info-boxes-list.home-page .fb-link {
    right: 5px;
    bottom: 5px;
    height: 17px;
    width: 17px;
    padding: 0;
  }
}

.location-map {
  margin: 30px 0 0 0;
}

.location-map .cls-28 {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.location-map .cls-28::before {
  content: 'test';
}

.location-map .cls-28:hover, .location-map .cls-28.active , .location-map g path.cls-28:hover{
  fill: #d96629!important;
  opacity: 1!important;
  cursor: pointer;
}

.place-preview {
  margin: 40px 0 0 0;
}

.place-preview .gallery {
  position: relative;
  margin: 0 0 20px 0;
}

.place-preview .gallery .gallery-details {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3px 15px;
  background-color: rgba(72, 67, 66, 0.6);
  font-weight: 300;
  font-size: 13px;
  color: #ddd;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .place-preview .gallery .gallery-details {
    bottom: 39px;
  }
}

.place-preview .gallery .gallery-details .title {
  max-width: 80%;
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.place-preview .gallery .gallery-details .total-holder i {
  font-style: normal;
  color: #D96629;
}

.place-preview .gallery .gallery-details .total-holder i.total::before {
  content: '\\';
  padding: 0 5px 0 0;
}

@media screen and (max-width: 991px) {
  .place-preview .summary {
    margin-top: 50px;
  }
}

.place-preview .summary .name {
  display: block;
  margin: 0 0 15px 0;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 575px) {
  .place-preview .summary .name {
    margin: 0 0 25px 0;
    font-size: 19px;
    text-align: center;
  }
}

.place-preview .summary .name strong {
  font-weight: 600;
}

.place-preview .summary .details .table {
  margin: 0;
  border: 0;
}

.place-preview .summary .details .table tbody tr td {
  padding: 0;
  border: 0;
}

.place-preview .summary .details .table tbody tr td.title {
  width: 16%;
  padding-right: 5px;
  line-height: normal;
  border-right: 2px solid #D96629;
  color: #D96629;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 575px) {
  .place-preview .summary .details .table tbody tr td.title {
    width: 20%;
    padding-right: 5px;
  }
}

.place-preview .summary .details .table tbody tr td:nth-child(2) {
  padding: 0 0 0 15px;
}

.place-preview .summary .details .table tbody tr td .contact-list {
  margin: 0 0 20px 0;
  font-weight: 300;
  color: #fff;
}

.place-preview .summary .details .table tbody tr td .contact-list ul li {
  margin: 0 0 3px 0;
  font-size: 13.5px;
}

.place-preview .summary .details .table tbody tr td .contact-list ul li.contact-name {
  font-size: 16px;
  text-transform: uppercase;
}

.place-preview .summary .details .table tbody tr td .download-pdf {
  display: inline-block;
  width: 58px;
  height: 75px;
  background: url("../img/pdf-ikona.svg") 0 0 no-repeat;
}

.place-preview .summary .building-capacity {
  margin: 0 0 30px 0;
}

.place-preview .text {
  font-size: 17px;
  font-weight: 300;
}

.place-preview .text strong {
  font-weight: 500;
}

.place-preview .text p {
  line-height: 1.5;
}

.place-preview .text p:last-child {
  margin: 0;
}

.sticky-block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 315px;
  padding: 166px 0 40px 0;
  background-color: #322d2c;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 100;
  /*
  @media screen {
    @media (max-width: 1200px) AND (min-width: 992px) {
      top: auto;
      left: 0;
      width: 100%;
      padding: 15px 10px;

      &.has-events {
        height: 95px;
      }

      &.has-addresses {
        padding: 15px 10px 10px 10px;

        .accordion {
          display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
          max-width: 100%;

          .card { 
            width: 49%;
          }
        }
      }

      .content {
        .c-name { 
          position: absolute !important;
            top: -40px;
            left: 0;
            margin: 0 0 0 15px !important;
            border: 0;

            span {
              position: static;

              &::before {
                content: normal;
              }
            }

            &::before {
              content: normal !important;
            }
        }       
      }

      .events-list {
        ul {
          width: 100%;
          display: -ms-flexbox;
            display: flex;

            li {
              width: 25%;
            }
        }

        .ps-wrapper {
          max-height: 150px;
          padding: 0;
        }
      }
    }

    @media (max-width: 1199px) {
          display: none;
      }
  }
  */
}

@media screen and (max-width: 1520px) {
  .sticky-block {
    width: 270px;
  }
}

@media screen and (max-width: 1399px) {
  .sticky-block {
    width: 250px;
  }
}

.sticky-block .content .c-name {
  position: relative;
  margin: 0 0 10px 0;
  border-top: 3px solid #d96629;
  color: #fff;
  text-transform: uppercase;
}

.sticky-block .content .c-name::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -50px;
  left: -55px;
  bottom: 0;
  width: 45px;
  height: 117px;
  background: url(../img/sticky-block-line.svg) 0 0 no-repeat;
}

.sticky-block .content .c-name span {
  position: relative;
  top: -4px;
  left: -21px;
  display: inline-block;
  line-height: 40px;
  padding: 0 15px 0 10px;
  background-color: #d96629;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5px;
}

@media screen and (max-width: 1199px) {
  .sticky-block .content .c-name span {
    left: 0;
  }
}

.sticky-block .content .c-name span::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #d96629;
  transform-origin: bottom left;
  -ms-transform: skew(20deg, 0deg);
  -webkit-transform: skew(20deg, 0deg);
  transform: skew(20deg, 0deg);
}

.sticky-block .events-list {
  padding: 0 30px 0 0;
}

.sticky-block .events-list .event {
  margin: 0 0 5px 0;
}

.sticky-block .events-list .event:last-child {
  margin: 0;
}

.sticky-block .events-list .event .event-date {
  min-width: 82px;
  padding: 5px;
  background-color: #413c3b;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.sticky-block .events-list .event .event-date span {
  display: block;
  line-height: normal;
  font-weight: 300;
}

.sticky-block .events-list .event .event-date .day {
  font-size: 30px;
  color: #d96629;
}

.sticky-block .events-list .event .event-date .month {
  font-size: 13px;
}

.sticky-block .events-list .event .event-date .week-day {
  font-size: 11px;
  color: #d96629;
}

.sticky-block .events-list .event .details {
  padding: 5px 0 0 8px;
}

.sticky-block .events-list .event .details .name {
  margin: 0 0 3px 0;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 1399px) {
  .sticky-block .events-list .event .details .name {
    font-size: 14px;
  }
}

.sticky-block .events-list .event .details .name a {
  color: #fff;
  text-transform: uppercase;
}

.sticky-block .events-list .event .details > span {
  display: block;
  font-weight: 300;
  font-size: 12px;
  color: #ddd;
  text-transform: uppercase;
}

@media screen and (max-width: 1399px) {
  .sticky-block .events-list .event .details > span {
    font-size: 12px;
  }
}

.sticky-block .events-list .event .btn, .sticky-block .events-list .event .read-more {
  display: inline-block;
  margin: 6px 0 0 0;
  padding: 0;
  background: none;
  color: #d96629;
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
}

.sticky-block .events-list .event .btn:hover, .sticky-block .events-list .event .read-more:hover {
  color: #fff;
}

.sticky-block .accordion {
  max-width: 86.15%;
}

@media (max-width: 1199px) {
  .sticky-block .accordion {
    max-width: 100%;
  }
}

.sticky-block .accordion .card {
  padding: 0;
  margin: 0 0 5px 0;
  border: 0;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.sticky-block .accordion .card .card-header {
  padding: 0;
  border: 0;
  background: none;
}

.sticky-block .accordion .card .card-header h1, .sticky-block .accordion .card .card-header h2, .sticky-block .accordion .card .card-header h3, .sticky-block .accordion .card .card-header h4, .sticky-block .accordion .card .card-header h5 {
  margin: 0;
}

.sticky-block .accordion .card .card-header a {
  position: relative;
  display: block;
  padding: 3px 15px;
  line-height: normal;
  background-color: #433e3d;
  font-size: 17px;
  font-weight: 300;
  color: #b6b3b2;
  text-transform: uppercase;
  text-decoration: none;
}

.sticky-block .accordion .card .card-header a span {
  display: block;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sticky-block .accordion .card .card-header a:hover {
  background-color: #3b3736;
}

.sticky-block .accordion .card .card-header a::after {
  content: '+';
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto 0;
  color: #d96629;
  font-weight: 500;
  font-size: 20px;
}

.sticky-block .accordion .card .card-header a[aria-expanded="true"]::after {
  content: '';
  width: 10px;
  height: 15px;
  background: url("../img/arrow-down.svg") 0 0 no-repeat;
}

.sticky-block .accordion .card .card-body {
  padding: 7px 15px;
}

.sticky-block .accordion .card .card-body .list li {
  margin: 0 0 5px 0;
}

.sticky-block .accordion .card .card-body .list li:last-child {
  margin: 0;
}

.sticky-block .accordion .card .card-body .list li a {
  display: block;
  line-height: normal;
  font-size: 15px;
  font-weight: 300;
  color: #b6b3b2;
  text-decoration: none;
}

.sticky-block .accordion .card .card-body .list li a:hover {
  font-weight: 400;
  color: #d96629;
}

.sticky-block .accordion .card .card-body .list li.active a {
  font-weight: 400;
  color: #d96629;
}

@media screen and (max-width: 1199px) {
  .sticky-block {
    display: none;
  }
}

.contact-persons {
  margin: 40px 0 50px 0;
}

@media screen and (max-width: 991px) {
  .contact-persons .row [class*="col-"] {
    margin-bottom: 40px;
  }
}

.contact-persons .name {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.contact-persons ul li {
  margin: 0 0 2px 0;
  font-weight: 300;
  font-size: 15px;
}

.contact-persons ul li:last-child {
  margin: 0;
}

.contact-persons ul li.email a {
  color: #d96629;
}

#nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

@media screen and (min-width: 1200px) {
  #nav-overlay {
    display: none;
  }
}

#nav-overlay.active {
  display: block;
}




.gallery img{
  width:auto!important;
  margin: 0 auto;
}

.reviews{
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px
}

.reviews h4{
  color:white;
  padding-bottom: 10px;
}

.nf-field-element textarea {
  height: unset!important;
}

.nf-field-label label {
  font-weight: 500!important;
}

.nf-field-label, .nf-field-container{
  margin-bottom: unset!important;
}
form input[type="button"]{
  margin: 10px 0 0 0 !important;
}

.hidden{
  display: none;
}

button#searchsubmit[type="submit"]{
  width: 18px;
  height: 18px;
  border: 0;
  background: url(../img/search-icon.svg) 0 0 no-repeat;
  cursor: pointer;
}

.posts-list form input{
  height: 20px;
  padding: 0 10px 0 0;
  border: 0;
  background: none;
  border-bottom: 1px solid #868180;
  color: #fff;
}

.posts-list form{
  margin:20px 0;
}

.info-box .event-date .month {
  padding: 0 4px;
}

.info-box .event-date {
  min-width: 85px;
  width: unset;
}

.page-template-default .col-lg-6{
      max-width: 100%!important;
    flex: 0 0 100%;
}

.page-template-default .row {
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}
.page-template-default .col-lg-6:nth-child(1){
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
}
.page-template-default .col-lg-6:nth-child(2){
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
}

body.home .sticky-block .home-event .event-date{
  min-width: 70px;
  max-width:85px;
}

body.home .sticky-block .home-event .event-date .month{
  padding:5px;
}
.nf-response-msg p{
color:green;
}


#cff{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.home .thumbnail{
  overflow: hidden;
  padding-top:  -100px;
  max-height: 175px;
  min-height: 175px;
  background-color: white;
}

#cff p{
  margin: 15px 0!important;
}

.home .info-box .details > span{
  max-width: 202px;
}

.card-body .list a{
  cursor:pointer;
}

.cls-28.active, .cls-28.path{
  opacity: 1!important;
}

.cls-28 {
  opacity: 0.5!important;
}


.info-boxes-list .info-box .message {
    text-align: center;
}

.info-boxes-list .info-box .message p {
    margin: 0;
    line-height: normal;
    color: #D96629;
    font-size: 14px;
    font-weight: 300;
}
.hover-details a:hover {
    color: unset!important;
}
.hover-details a:hover {
    color: unset!important;
    text-decoration: unset!important;
}
@media screen and (max-width: 1759px){
	.info-box.has-capacity-hover .hover-details .name span {
		width: max-content;
	}
}
.tooltip .arrow, .tooltip .tooltip-inner {
    position: fixed;
}
.tooltip .tooltip-inner {
    top: -130px;
    width: max-content;
	width: -moz-max-content;
}
body:not(.home) .info-boxes-list .col-lg-3.col-md-3.col-sm-6{
    cursor: pointer;
}
.home .info-box .details{
	position:relative;
}
#cff.cff-default-styles p{
    min-height: 170px;
	margin-top: 0!important;
	background-color: rgba(72, 67, 66, 0.6);
}
.home .info-box .details{
	background-color:unset;
}
@media screen and (max-width: 1759px){
	.info-box.has-capacity-hover .reconstruction .name {
		font-size: 24px;
		text-transform: uppercase;
		color: white;
		text-align: center;
		
	}
}
.info-box.has-capacity-hover .reconstruction .name {
	padding: 0 0px 5px 0px;
   	border-bottom: 1px solid white;
}
.info-box.has-capacity-hover .reconstruction .name span {
    color: white;
    text-align: center;
    width: auto;
    font-size: 24px;
}

.info-boxes-list .info-box .reconstruction .message p {
	padding: 0 0px 5px 0px;
	padding: 0 15px;
}

body{
	position:relative;
}

.sticky-block.has-addresses {
    padding: 134px 0 40px 0;
    height: initial;
}
.sticky-block.has-events {
	padding: 134px 0 40px 0;
}
.tooltip{
	top:-14px!important;
}


.tooltip .arrow, .tooltip .tooltip-inner{
   background-color: black!important;
}
.orange .arrow, .orange .tooltip-inner, .hover .arrow, .hover .tooltip-inner{
   background-color: #d96629!important;
}
.info-box.has-capacity-hover .reconstruction .name {
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

@media screen and (max-width: 1199px){
	.info-box.has-capacity-hover .reconstruction .name {
		font-size: 20px!important;
	}
}
.home .thumbnail img {
    object-fit: cover;
    height: 205px;
    width: 205px;
}

@media screen and (max-width: 1549px) and (min-width: 1200px){
.home #main-content .text .container {
    right: unset!important;
}
}

@-moz-document url-prefix() {
	.tooltip {
		top: 1% !important;
	}
}

@supports (-ms-ime-align:auto) {
    .tooltip {
		top: 1% !important;
	}
	 .tooltip-inner{
		min-width: 200px!important;
	}
}

 .bs-tooltip-bottom .arrow {
    top: -130px;
}